.jumbotron {
	background-color: #bdbdbd; /* Yellow */
	padding: 80px;
}
.bg-yellow {
	background-color: #fffde7;
}
.navbar {
	box-shadow: 0 8px 6px -6px #999;
}
.vertical-resize {
	resize: vertical;
}
.navbar-btn {
    background-color: rgba(255, 235, 59, 0);
    font-family: "Verdana";
    font-size: 16px;
    color: #212121;
    border: 0 none;
    transition-duration: 0.4s;
    margin-right: 15px;
}
.navbar-btn:hover {
	background-color: rgba(255, 235, 59, 0.12);
}
.navbar-btn:active {
	background-color: rgba(255, 235, 59, 0.4);
}
.form-control {
	font-family: "Verdana";
	font-size: 16px;
	height: auto;
	color: #212121;
	border: 1;
	border-color: rgba(33, 33, 33, 0.4);
	border-radius: 10px;
}
.meal-name {
	font-size: 34px;
}
.btn-primary {
	background-color: #ffeb3b;
	border: 0 none;
	color: #212121;
	font-family: "Verdana";
	font-size: 12px;
}
.btn-secondary {
	color: #212121;
	font-family: "Verdana";
	font-size: 12px;
	border: 0 none;
}

.search-bar{
    box-sizing: border-box;
    position: relative;
    display: table;
    table-layout: fixed;
    float: none;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.search-bar-row {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    box-shadow: 0 1px 3px 0 #bdbdbd;
    border-radius: 4px;
    margin: 0 auto;
    display: table-row;
    width: 100%;

}
	
.search-bar .search-bar-location,
.search-bar .search-bar-radius,
.search-bar .search-bar-date,
.search-bar .search-bar-submit {
    padding: 15px 16px 8px;
    display: table-cell;
    float: none;
    vertical-align: middle;

}
.search-bar-location {
position: static;
    width: 35%;
}
.search-bar-radius {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #bdbdbd;
    border-image: -webkit-linear-gradient(top, #fff, #bdbdbd, #fff) 1 repeat;
    width: 35%;
}
.search-bar-date {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #bdbdbd;
    border-image: -webkit-linear-gradient(top, #fff, #bdbdbd, #fff) 1 repeat;
    width: 17%;
}
.search-bar-submit {
    width: 13%;
}
.search-bar-input{
    display: block;
    border-style: hidden;
    box-sizing: border-box;
}

