.jumbotron {
	background-color: #bdbdbd; /* Yellow */
	padding: 80px;
}
.bg-yellow {
	background-color: #fffde7;
}
.navbar {
	box-shadow: 0 8px 6px -6px #999;
}
.vertical-resize {
	resize: vertical;
}
.navbar-btn {
    background-color: rgba(255, 235, 59, 0);
    font-family: "Verdana";
    font-size: 16px;
    color: #212121;
    border: 0 none;
    border-radius: 0px;
    transition-duration: 0.4s;
    margin-right: 15px;
}
.navbar-btn:hover {
	background-color: rgba(255, 235, 59, 0.12);
	box-shadow: none;
}
.navbar-btn:active {
	background-color: rgba(255, 235, 59, 0.4);
	box-shadow: none;
}
.form-group{
    margin-top: 7px;
    margin-bottom: 7px;
}
.form-control {
 	font-family: "Verdana";
 	font-size: 16px;
 	height: auto;
 	color: #212121;
 	border: 1;
 	border-color: rgba(33, 33, 33, 0.4);
 	border-radius: 10px;
 }
 .form-control:focus {
 	font-family: "Verdana";
 	font-size: 16px;
 	height: auto;
 	color: #212121;
 	border: 1;
 	border-color: rgba(33, 33, 33, 0.4);
 	border-radius: 10px;
 	box-shadow: none;
 	background-color: rgba(255, 236, 61, 0.08);
 }
.col-md-6-mod{
    padding-left: 0px;
}
.meal-name {
	font-size: 34px;
}
.meal-name:focus {
	font-size: 34px;
}
.btn-primary-my{
	background-color: rgba(255, 235, 59, 1);
	border: 0 none;
	color: #212121;
	font-family: "Verdana";
	font-size: 12px;
}
.btn-primary-my:hover{
    background-color: rgba(255, 235, 59, 0.6);
    color: #212121;
    box-shadow: none;
}
.btn-primary-my:focus{
    background-color: rgba(255, 235, 59, 1);
    color: #212121;
    box-shadow: none;
}
.btn-primary-my:active{
    background-color: rgba(255, 235, 59, 1);
    color: #212121;
    box-shadow: none;
}
.btn-secondary {
	color: #212121;
	font-family: "Verdana";
	font-size: 12px;
	border: 0 none;
}
.search-bar{
    box-sizing: border-box;
    position: relative;
    table-layout: fixed;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}
.search-bar-row {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    box-shadow: 0 1px 3px 0 #bdbdbd;
    border-radius: 4px;
    margin: 0 auto;
    display: table;
    width: 100%;
}
.search-bar-element{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px 16px 10px;
}
.search-bar-location {
    position: static;
    width: 30%;
}
.search-bar-radius {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #bdbdbd;
    border-image: -webkit-linear-gradient(top, #fff, #bdbdbd, #fff) 1 repeat;
    width: 30%;
}
.search-bar-date {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #bdbdbd;
    border-image: -webkit-linear-gradient(top, #fff, #bdbdbd, #fff) 1 repeat;
    width: 22%;
}
.search-bar-submit {
    width: 8%;
    text-align: center;
}
.search-bar-input{
    display: block;
    border-style: hidden;
    box-sizing: border-box;
}
.search-bar-input-btn{
    margin:0 auto;
}
.offer-container{
    margin-top: 70px;
}
